<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <style> .footer { position: fixed; left: 10px; bottom: 5px; right: 10px; width: 95%; background-color: gray; color: white; text-align: center; } </style>
    <h1 class="title">Endpoints:</h1>
    <br>
    <h2 class="subtitle">/get?amount=(amount)&rate=(currency, currently you can only do all caps) | Get the price of avian in the currency of your choice. </h2><br>
  <h2 class="subtitle">/get/all | Get the entire rates API</h2>
</body>
<footer class="has-text-centered">
  Created by Ayonull - API provided by CoinGecko and Fixer.io
</footer>
